@page
@model Rad301_2024_Lab3_books.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Publication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].AuthorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].PublisherID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].DateOfPublication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].CoverPageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Book) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfPublication)
            </td>
            <td>
                <img src="~/Images/@(item.CoverPageUrl)" alt="Cover Image" style="width: 100px;" />
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
