@page
@model Lab4Part3.Pages.Suppliers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.SupplierName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.SupplierName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.SupplierAddressLine1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.SupplierAddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.AddressLine2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.AddressLine2)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Supplier.SupplierID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
